

/* 
	AUX
*/

:root {
	--aux-width: 500px;
}

#aux-content-con {
	background-color: coral;
	height: 100%;
	width: 0px;
	max-width: 95%;
	transition: width 0.5s ease;
	
}
#aux-content-con.open {
	width: var(--aux-width);
	background-color: rgb(191, 75, 33);
}

#aux-panel {
	width: 100%;
	height: 100%;

	justify-content: start;
}


#aux-top-bar {
	width: 100%;
	height: 30px;
	display: flex;
	flex-direction: row;
}

#aux-title {
	flex-grow: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}
#aux-close-btn {
	background-color: aqua;
	width: 30px;
}