@import './source/Source.css';

#mainContentContainer {
	position: fixed;

	height: 100%;
	width: 100%;

	font-size: medium;


	/* background-color: rgba(159, 188, 214, 0.527); */
	/* box-shadow: inset 0 0 0 10px rgb(32, 161, 135); */
}


#mainContentContentContainer {
	position: fixed;

	/* top: 5%;
	left: 5%; */

	height: 100%;
	width: 100%;


	/* background-color: rgba(49, 109, 62, 0.527); */
}


#mainToolbarContainer {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;

	height: 50px;
	width: 1200px;
	max-width: 75%;

	margin: 0px;
	padding: 0px;

	top: 0px;
	right: 0px;

	/* background-color: rgb(132, 155, 175); */
	border: solid var(--light-border-2) 1px;

	background-color: var(--dark-bg-4);
	/* box-shadow: inset 0 0 0 1px black; */
}

#mainContentTitle {
	width: 370px;
	overflow: scroll;
	scrollbar-width: none;
	text-wrap: nowrap;

	padding: 3px;
	padding-left: 6px;

	border: solid var(--light-border-2) 1px;
	border-radius: 3px;
}


#mainContentReview {
	width: 90px;

	display: flex;
	justify-content: center;
	align-items: center;

	padding: 3px;
	border: solid var(--light-border-2) 1px;
	border-radius: 3px;
	/* background-color: red; */
}

#mainContentReview.completed {
	background-color: rgba(0, 128, 0, 0.558);
}

#mainContentReview.notcompleted {
	background-color: rgba(159, 9, 72, 0.674);
}


#mainSidepanelContainer {
	position: fixed;

	height: calc(100% - 60px);
	width: 398px;

	top: 52px;
	left: calc(100% - 400px);

	overflow-y: scroll;
	scrollbar-width: thin;

	background-color: var(--dark-bg-1);

	/* background-color: rgb(32, 39, 45); */
	/* box-shadow: inset 0 0 0 1px black; */
}