<div id="projectOuter">
	<div id="projectInner">

		<div id="titleDiv">Project Title</div>

		<div id="toggleContainer">
			<div id="searchButton">Search</div>
			<div id="propertiesButton">Properties</div>
		</div>

		<div id="tableContainer">

			<div id="searchInput">input placeholder</div>
			<table id="searchTable">
				<thead id="searchTable-thead">
					<tr id="searchTable-thead-tr">
						<th>Table</th>
						<th>Title</th>
					</tr>
				</thead>
				<tbody id="searchTable-tbody">
					<tr>
						<td>Data 1</td>
						<td>Data 2</td>
					</tr>
				</tbody>
			</table>


			<table id="propertiesTable">
				<thead id="propertiesTable-thead">
					<tr id="propertiesTable-thead-tr">
						<th>Key</th>
						<th>Value</th>
					</tr>
				</thead>
				<tbody id="propertiesTable-tbody">
					<tr>
						<td>Data 1</td>
						<td>Data 2</td>
					</tr>
				</tbody>
			</table>

		</div>

	</div>
</div>