@import './modules/maincontent/MainContent.css';

@import './modules/mainoverlay/MainOverlay.css';

@import './modules/contextoverlay/ContextOverlay.css';

@import "./modules/App.css";




body {
	margin: 0;
	padding: 0;
	background-color: black;
	height: 100vh;
	width: 100vw;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	font-size: small;
}

#root {
	width: 100vw;
	max-width: 100vw;
	overflow: hidden;
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: start;
	background-color: var(--dark-bg-1);
}
