<div id="overlayRightPanel">

	<div id="projectContainer" class="panelContainer">projectContainer</div>
	<div id="sourceContainer" class="panelContainer">sourceContainer</div>
	<div id="clipboardContainer" class="panelContainer">clipboardContainer</div>

</div>
<style>
	#overlayRightPanel {
		background-color: rgba(71, 4, 4, 0.198);
		height: 100%;
		width: 300px;
		overflow-x: hidden;

		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.panelContainer {
		width: 100%;
		min-width: 250px;
		height: 30%;
		overflow-x: hidden;

		border-radius: 5px;
		background-color: rgba(165, 206, 242, 0.424);
	}
</style>