
#statustable-outer {
	width: 200px;
	position: absolute;
	left: calc(100vw - 200px);
	top: 0px;

	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	background-color: rgb(57, 24, 24);
}

.statustable-row {
	margin: 5px;
	padding: 4px;
	width: 180px;
	max-width: 180px;
	min-width: 180px;
	background-color: rgb(221, 38, 38);
}
