
#sourceview-fileviewer {
	flex-grow: 1;
	min-height: 300px;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;

	background-color: rgb(150, 73, 222);
}

#sourceview-file {
	max-height: 100%;
	max-width: 100%;

}

.sourceview-file-text {
	height: 95%;
	width: 95%;
	resize: none;
	font-size: medium;
	background-color: aliceblue;
}
.sourceview-file-text:focus {
	outline: none;
}

.sourceview-file-embed {
	height: 100%;
	width: 100%;
}


/* #sourceview-file-video:focus {
	box-shadow: var(--shadow-1);
} */
