node_modules
dragdrop-clipboard

/data/live/*
/data/live/sources/*
/data/live/files/*
/data/live/sources.db
/data/live/graph.db
/data/backups/app/*
/data/backups/db/*
/data/backups/sql/*

/src/borderify
/src/beastify
