#childtable-outer {
	width: 350px;
	position: absolute;
	left: 0px;
	top: 0px;

	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	background-color: red;
}

#childtable {
	border-collapse: collapse;
	background-color: rgb(61, 178, 228);
}

#childtable-tbody {

	background-color: rgb(109, 58, 58);
}

#childtable-tbody tr {
	border: solid black 1px;
	background-color: rgb(106, 168, 80);
}

.childtable-td {
	margin: 0px;
	padding: 5px;
}

.childtable-td-table {
	width: 50px;
	margin: 0px;
	padding: 5px;
}

.childtable-td-title {
	width: 150px;
	margin: 0px;
	padding: 5px;
}