
@import './headerbar/shardcardHeaderbar.css';
@import './fileviewer/fileviewer.css';


.shardcard {
	
	background-color: aqua;

	flex-grow: 1;
	overflow: hidden;

	margin-bottom: 10px;

	padding: 10px;

	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;

}

.shardcard:focus {
	box-shadow: var(--shadow-2);
}





/* 
@import './propertiescard/PropertiesCard.css';
@import './viewcard/ViewCard.css';

#sourceview-panel {
	min-width: 700px;
	height: 100%;
	
}


#sourceview-panel-outer {
	padding: 0px;
	background-color: purple;
	height: 100%;
	width: 700px;
	overflow: hidden;
}

#sourcing-vertisep-2:hover {
	cursor:ew-resize;
}
 */









