
/* @import './headerbar/shardcardHeaderbar.css'; */
@import './fileviewer/fileviewer.css';


.shardcard {
	
	background-color: rgb(37, 37, 37);

	/* overflow-x: hidden; */

	/* word-wrap:break-word; */

	/* max-width: 600px; */
	/* width: calc(100% - 50px); */
	width: calc(100% - 50px);

	position: relative;

	flex-grow: 1;
	/* overflow: visible; */

	margin-bottom: 10px;
	margin-top: 10px;
	padding: 10px;

	border-radius: 5px;
	border: solid black 1px;

	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;

}

.shardcard-editing {
	background-color: rgb(44, 41, 41);
	border: solid rgb(106, 23, 23) 2px;

}

.shard-p {
	margin: 0px 0px 0px 0px;
	padding: 0px;
	/* border: solid rgba(0, 0, 0, 0.441) 1px; */
	width: 100%;
	min-height: 1.3rem;

	color: aliceblue;
	/* word-break: break-all; */
	word-break:break-word;
    /* white-space: normal; */
	/* white-space: nowrap; */
	white-space: pre-wrap;
}
/* .shard-p:hover {
	border-left: solid rgb(30, 71, 116) 1px;
} */

.shardcard:focus {
	box-shadow: var(--shadow-2);
	border: solid rgb(91, 91, 91) 1px;
}





/* 
@import './propertiescard/PropertiesCard.css';
@import './viewcard/ViewCard.css';

#sourceview-panel {
	min-width: 700px;
	height: 100%;
	
}


#sourceview-panel-outer {
	padding: 0px;
	background-color: purple;
	height: 100%;
	width: 700px;
	overflow: hidden;
}

#sourcing-vertisep-2:hover {
	cursor:ew-resize;
}
 */









