@import "./auxcontent.css";
@import "./LeftMenu.css";


#app-con {
	height: 100%;
	width: 100%;

}

#app {
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: row;
}






/* 
	MAIN CONTENT
*/

#main-content-con {
	height: 100%;
	/* width: 90%; */
	transition: width 0.5s ease;
}


/* 
	CONTEXT OVERLAY
*/
#context-overlay-con {
	position: absolute;
	height: 100%;
	width: 100%;

	pointer-events: none;
}


/* 
	MAIN OVERLAY
*/
#main-overlay-con {
	position: absolute;
	height: 100%;
	width: 100%;

	pointer-events: none;
}