#newAdjacentMenu {
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
}

#newAdjacentMenu * {
	width: 90%;

	display: flex;
	justify-content: center;
	align-items: center;
}



#newAdjacentMenu>div {
	/* border: solid black 1px; */
	margin: 0 0 5px 0;
	padding: 2px;

	overflow: hidden;

	display: flex;
	flex-direction: row;
	justify-content: start;

}

#newAdjacentMenu div label {
	font-size: small;
	text-decoration: bold;

	width: 110px;
	/* margin: 10px 0 0 0; */
}

#newAdjacentMenu div div {
	width: 170px;
	padding: 2px;

}

#newAdjacentMenu div select {
	width: 170px;
}

#newAdjacentMenu div div.editable {
	background-color: bisque;
	border: solid black 1px;
}


#connectMenu_contentType {}

#connectMenu_node {}

#connectMenu_directed {}

#connectMenu_path {}

#newAdjacentMenu_button {
	width: 50%;
	height: 1.5rem;
	margin-top: 10px;
	border-radius: 5px;
	background-color: rgb(133, 155, 173);
}