
.shardcard-fileviewer {
	flex-grow: 1;
	min-height: 300px;
	width: 100%;

	overflow-x: hidden;

	display: flex;
	justify-content: center;
	align-items: center;

	/* background-color: rgb(150, 73, 222); */
}




.shardcard-file {
	max-height: 100%;
	max-width: 100%;
	background-color: aqua;

	max-width: 500px;
}

.shardcard-file-video {
	
	max-width: 600px;
	
}

.shardcard-file-text {
	
	width: 75%;
	padding: 20px;

	resize: none;
	font-size: medium;
	background-color: aliceblue;
	
}
.sourceview-file-text:focus {
	outline: none;
}

.sourceview-file-embed {
	height: 100%;
	width: 100%;
	min-height: 600px;
}


/* #sourceview-file-video:focus {
	box-shadow: var(--shadow-1);
} */
