@import './headerbar/viewcardHeaderbar.css';
@import './fileviewer/fileviewer.css';

#sourceview-viewcard {
	flex-grow: 1;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	
}

/* #sourceview-viewcard:focus-visible {
	border: solid black 1px;
} */

#sourceview-viewcard:focus {
	box-shadow: var(--shadow-2);
}









