
.sourcefind-searchcard {
	display: grid;
	row-gap: 10px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 2rem 2rem 2rem 2rem;
}


#sourcefind-searchbar {
	grid-column: 1 / span 4;
	grid-row: 1 / span 1;

	display: flex;
	flex-direction: row;
	justify-content: center;

	
	font-size: medium;
	text-align: center;

}
/* #sourcefind-searchbar-label {
	background-color: var(--light-1);
	color: var(--dark-2);
	
} */
#sourcefind-searchbar-input {
	/* border-radius: 10px;
	background-color: var(--light-1);
	color: var(--dark-2); */

	width: 100%;
	font-size: medium;
	text-align: center;
}
#sourcefind-searchbar-input:focus {
	font-size: large;
	
}




#sourcefind-review {
	grid-column: 1 / span 1;
	grid-row: 2 / span 1;

	display: flex;
	justify-content: center;
	align-items: center;

	margin-right: 3px;
	
	background-color: coral;
	border-radius: 5px;
}


#sourcefind-asc {
	grid-column: 3 / span 1;
	grid-row: 3 / span 1;

	display: flex;
	justify-content: center;
	align-items: center;

	
}



#sourcefind-today {
	grid-column: 2 / span 1;
	grid-row: 3 / span 1;

	display: flex;
	justify-content: center;
	align-items: center;

	
}
/* #sourcefind-today-box {
}
#sourcefind-today-label {
} */




#sourcefind-daterange-container {
	
	grid-column: 2 / span 3;
	grid-row: 2 / span 1;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr ;
	grid-template-rows: 1fr ;

	margin-left: 5px;

	background-color: rgb(86, 160, 172);
	border-radius: 5px;
}

#sourcefind-daterange {
	grid-column: 1 / span 1;
	grid-row: 1 / span 1;

	display: flex;
	justify-content: center;
	align-items: center;

	

}
/* #sourcefind-daterange-box {
	
}
#sourcefind-daterange-label {
	
} */

#sourcefind-startdate {
	grid-column: 2 / span 1;
	grid-row: 1 / span 1;

	margin: 3px;
	width: 10ch;
	text-align: center;
}

#sourcefind-enddate {
	grid-column: 3 / span 1;
	grid-row: 1 / span 1;

	margin: 3px;
	width: 10ch;
	text-align: center;
}







#sourcefind-fetch {
	grid-column: 1 / span 3;
	grid-row: 4 / span 1;

	margin: 0 10px 0 10px;
}

#sourcefind-add {
	grid-column: 4 / span 1;
	grid-row: 4 / span 1;
}

