@import './contentmenu/ContentMenu.css';
@import './titlemenu/TitleMenu.css';
@import './edgemenu/EdgeMenu.css';
@import './connectmenu/ConnectMenu.css';
@import './newadjacentmenu/NewAdjacentMenu.css';

#contextOverlay {
	position: fixed;
	top: 0px;
	left: 0px;

	height: 100%;
	width: 100%;

	background-color: none;

	/* box-shadow: inset 0 0 0 5px orange; */

	pointer-events: none;
}

#contextMenu {
	position: absolute;

	overflow-y: scroll;
	overflow-x: hidden;
	overflow-wrap: break-word;
	scrollbar-width: thin;

	height: 270px;
	width: 300px;

	top: 400px;
	left: 400px;

	padding: 3px;
	border: solid black 1px;

	background-color: rgb(185, 184, 182);

	pointer-events: all;
}

#contextMenu.title {
	height: 50px;
}

#contextMenu.hide {
	display: none;
}