#edgeMenu {
	height: 100%;
	width: 100%;
}

#edgeMenu table {
	width: 280px;
	max-width: 280px;
	height: 234px;

	margin: 5px;

	border: solid gray 1px;
}


#edgeMenu table thead tr {
	margin-bottom: 5px;

	background-color: rgb(158, 158, 158);
}


#edgeMenu table tbody tr {
	margin-bottom: 5px;

	background-color: rgb(158, 158, 158);
}

#edgeMenu table tbody tr th {
	width: 110px;
	max-width: 110px;
	min-width: 110px;


}

#edgeMenu table tbody tr td {
	width: 154px;
	max-width: 154px;
	min-width: 154px;

	background-color: rgb(190, 190, 190);
}

#edgeMenu table tbody tr td.editableContextElement {

	border: solid gray 1px;
	background-color: rgb(208, 202, 202);
}