
#sharding-listcard-outer {
	flex-grow: 1;

	background-color: bisque;


	overflow: hidden;

	display: flex;

	padding: 0px;

}

#sharding-listcard-inner {
	
	/* overflow-y: scroll; */
	
	position: relative;

	overflow-y: scroll;
	
	flex-grow: 1;

	padding: 10px;
}



#shard-mini-menu {
	height: 25px;
	width: 25px;
	background-color: aliceblue;

	display: flex;
	justify-content: center;
	align-items: center;

	border: solid black 1px;

	position: absolute;
	left: calc(100% - 30px);

	display: none;
}

