


.shardcard-headerbar {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr ;
	grid-template-rows: 3.5rem 1fr;

	row-gap: 5px;

	width: 100%;
	margin-bottom: 10px;

	background-color: rgb(228, 165, 87);

}
/* OLD BUTTON CARD FOR REFERENCE */
/* 
#sourceview-button-card {
	grid-column: 1 / span 1;
	grid-row: 5 / span 1;
	background-color: blueviolet;

	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr ;
	grid-template-rows: 1fr;
} */

.shardcard-prompt {
	grid-column: 1 / span 4;
	grid-row: 1 / span 1;

	padding: 5px;
	margin: 10px 15px 0px 15px;
	height: 2rem;


	border: solid black 1px;
	border-radius: 2px;
	font-size: medium;

	text-align: center;
}
.shardcard-shardid {
	grid-column: 1 / span 1;
	grid-row: 2 / span 1;
}
.shardcard-sourceid {
	grid-column: 2 / span 1;
	grid-row: 2 / span 1;
}
.shardcard-filetype {
	grid-column: 3 / span 1;
	grid-row: 2 / span 1;
}
.shardcard-fileending {
	grid-column: 4 / span 1;
	grid-row: 2 / span 1;
}


.shardcard-element {
	background-color: lightgreen;
	padding: 5px;
	margin: 5px;
	border: solid black 1px;
	border-radius: 2px;
	

	display: flex;
	justify-content: center;
	align-items: center;

	display: none;
}
.shardcard-element:hover {
	display: none;
}





/* #sourceview-file-load {
	background-color: aqua;
} */

#sourceview-file-post {
	display: none;
}
.disabled-post {
	background-color: lightgray;
	pointer-events: none;
	cursor: none;
}



