
@import './shardbar/shardbar.css';


#sharding-panel {
	min-width: 380px;
	height: 100%;
}

#sharding-panel-outer {
	padding: 0px;
	background-color: purple;
	height: 100%;
	overflow-x: hidden;

	flex-grow: 1;
}



#sharding-listcard {
	flex-grow: 1;
	overflow-y: scroll;
}








.sharding-sourcecard {
	background-color: burlywood;	
	margin: 5px;
	margin-bottom: 10px;
	padding: 5px;

	display: grid;
	gap: 5px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr ;
}



.sharding-label {
	/* background-color: darkorchid; */
	border: solid black 1px;
	pointer-events: none;

	background-color: beige;
	text-decoration: line-through;
	padding-left: 10px;
}

.sharding-title {
	grid-column: 1 / span 2;
	grid-row: 1 / span 1;
	background-color: aliceblue;
}

.sharding-id {
	grid-column: 1 / span 1;
	grid-row: 2 / span 1;
}

.sharding-datecreated {
	grid-column: 2 / span 1;
	grid-row: 2 / span 1;
}
