.codeContent {

	/* padding-left: 10px;
	padding-right: 20px; */

	/* margin: 2px; */
	/* padding-top: 10px; */

	height: 100%;

	border-radius: 5px;

	font-size: small;

	/* margin: 0px; */
	/* padding: 0px; */

	/* caret-shape: block; */

	/* background-color: rgba(129, 81, 19, 0.372); */
	/* border: solid black 1px; */
}

.codeContent p:first-child {
	padding-top: 45px;
}

.codeContent p:last-child {
	padding-bottom: 20px;
}

.codeContent p {
	margin: 0px;
	padding: 2px;
	padding-left: 15px;
	padding-right: 20px;
}

.codeHeader {
	width: 96%;
	position: absolute;
	display: block;
	top: 0px;
	left: 0px;

	border-bottom: solid var(--light-border-2) 1px;
	border-radius: 5px;

	padding: 5px 2% 5px 2%;
	/* margin: 5px 0 3px 7px; */
	/* color: aliceblue; */
	background-color: var(--dark-bg-2);
}

.codeContent.editing {
	/* background-color: rgba(105, 156, 62, 0.622) */
	background-color: var(--dark-bg-4);
	caret-shape: bar;
}

/* .textContent:focus {
	background-color: rgba(105, 156, 62, 0.622)
} */