
@import './searchcard/Searchcard.css';


#sourcefind-panel {
	min-width: 380px;
	width: 18%;
}




#sourcefind-listcard {
	flex-grow: 1;
	overflow-y: scroll;
}








.sourcefind-sourcecard {
	background-color: burlywood;	
	margin: 5px;
	margin-bottom: 10px;
	padding: 5px;

	display: grid;
	gap: 5px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr ;
}



.sourcefind-label {
	/* background-color: darkorchid; */
	border: solid black 1px;
	pointer-events: none;

	background-color: beige;
	text-decoration: line-through;
	padding-left: 10px;
}

.sourcefind-title {
	grid-column: 1 / span 2;
	grid-row: 1 / span 1;
	background-color: aliceblue;
}

.sourcefind-id {
	grid-column: 1 / span 1;
	grid-row: 2 / span 1;
}

.sourcefind-datecreated {
	grid-column: 2 / span 1;
	grid-row: 2 / span 1;
}
