@import './textcontent/TextContent.css';
@import './sourcecontent/SourceContent.css';
@import './codecontent/CodeContent.css';
@import './filecontent/FileContent.css';

.contentCard {
	/* for abosulte position of overlay to apply */
	position: relative;

	width: 700px;
	max-width: 700px;

	color: var(--light-text-1);
	/* background-color: var(--dark-bg-1); */
	/* background-color: aliceblue; */

	display: flex;
	justify-content: center;
	align-items: center;

	letter-spacing: 0.5px;

	border: solid var(--dark-border-2);
	border-radius: 7px;
	/* overflow: hidden; */

	/* max-height: 90vh;
	overflow-x: hidden;
	overflow-y: scroll;
	scrollbar-width: none; */

	/* 
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px; */

	/* margin: 3px; */
	/* background-color: rgba(165, 109, 35, 0.372); */
	/* border: solid black 1px; */
}

.contentCard a {
	text-decoration: none;
	color: var(--light-text-1);
}

.contentCardContentContainer {
	height: 100%;
	width: 100%;


	background-color: var(--dark-bg-1);
	/* border: solid var(--dark-border-2) 1px; */
}

.contentCardOverlay {
	height: 100%;
	width: 100%;

	position: absolute;
	top: 0px;
	left: 0px;

	display: flex;
	justify-content: center;
	align-items: center;

	color: aliceblue;
	/* background-color: rgba(6, 1, 1, 0.366); */
	background-color: var(--dark-bg-5);
}