
#keymap-icon {
    position: absolute;
    right: 15px;
    bottom: 15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    /* background-color: pink; */
    background-image: url("./keymapIcon.png");

    pointer-events: all;
}


#keymap-container {
    position: absolute;
    overflow-y: scroll;
    scrollbar-width: none;
    
    right: 15px;
    bottom: 75px;
    height: 600px;
    width: 400px;
    border-radius: 5px;
    background-color: rgb(39, 7, 12);
    color: aliceblue;
    border: solid rgb(78, 61, 61) 2px;

    pointer-events: all;
}

#keymap-container.hide {
    display: none;
}